.balance {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 18px;

  &__info {
    padding: 5px 7px;
    background-color: #f63;
    color: white;
  }
  &__link {
  }

  &__link:hover {
    background-color: #f63;
    color: #fff;
  }
}
