.currency-card {
  border: 2px solid #f63;
  border-radius: 10px;

  text-align: center;

  cursor: pointer;

  &__large {
    padding: 20px;
    min-width: 100px;
    font-size: 20px;
  }
  &__small {
    padding: 10px;
    min-width: 50px;
    font-size: 15px;
  }
}
.currency-card:hover {
  background-color: #f63;
  color: #fff;
}
.fill {
  background-color: #f63;
  color: #fff;
}
@media (max-width: 576px) {
  .currency-card {
    &__large {
      padding: 10px;
      min-width: 70px;
      font-size: 15px;
    }
  }
}
