.product {
  width: 200px;
  background-color: #ffff;
  //   display: inline-block;
  color: #414141;
  box-shadow: 10px 10px 5px 0px rgba(255, 102, 51, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;

  border-radius: 5px;
  //   min-height: 270px;
  display: flex;
  flex-direction: column;

  &__info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
  }
  &__price {
    font-size: 16px;
    font-weight: 700;
    align-self: flex-end;
  }
  &__title {
    font-size: 14px;
    flex-grow: 1;
  }
  &__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__btn:hover {
    color: #70c05b;
    border-color: #70c05b;
    background-color: #ffff;
  }
}
.product:hover {
  box-shadow: 10px 10px 5px 0px rgba(112, 192, 91, 0.2);
}
.checked {
  color: #70c05b;
  border-color: #70c05b;
  background-color: #ffff;
}
.shadow-check {
  box-shadow: 10px 10px 5px 0px rgba(112, 192, 91, 0.2);
}
