.basket-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 40px;
  grid-template-areas: "products pay";

  &__products {
    grid-area: products;
  }
  &__pay {
    grid-area: pay;
  }
}
@media (max-width: 1000px) {
  .basket-content {
    column-gap: 15px;
  }
}

@media (max-width: 900px) {
  .basket-content {
    gap: 40px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "products"
      "pay";
  }
}
