.pay-details {
  position: sticky;
  top: 100px;
  background-color: #ffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
  height: max-content;

  &__total {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #868695;
    margin-top: 20px;
  }
  &__price {
    display: flex;
    justify-content: space-between;
  }
  &__delivery {
    margin-bottom: 20px;
  }
}
.pay-window {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pay-btn {
  font-size: 20px;
  border-radius: 10px;
  padding: 12px 15px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
}
.pay-btn:hover {
  transform: scale(1.04);
}
.pay-btn:active {
  transform: scale(1);
}
