.hidden {
  visibility: hidden;
  transform: translateY(-36px);
}
.select {
  width: 100%;

  &__btn {
    width: 100%;
    position: relative;
    z-index: 10;
  }
  &__btn:hover {
    background-color: #fff;
    color: #f63;
  }

  &__currency {
    display: flex;
    justify-content: center;
    gap: 20px;
    z-index: 1;
    transition: 1s ease;
    margin-top: 20px;
  }
}

.animated {
  visibility: visible;
  transform: translateY(10px);
}
