:root {
  --black: #3b434e;
  --white: white;
  --gray-light: #ebebeb;
  --primary: #7653fc;
  --primary-hover: #200b73;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #1dc37e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: var(--black);
  background: #5ac893fc;
  height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.title {
  font-size: 44px;
  color: #414141;
  margin: 40px 0;
}
@media (max-width: 576px) {
  .title {
    font-size: 30px;
    margin: 20px 0;
  }
}
