.home {
  padding-bottom: 100px;
  &__header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }
  &__sort {
    justify-self: end;
    align-self: flex-end;
  }
}
@media (max-width: 700px) {
  .home {
    &__sort {
      align-self: center;
    }
  }
}
@media (min-width: 1560px) {
  .home__container {
    max-width: 1440px;
    margin: 0 auto;
  }
}
