.no-products {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;

  &__btn:hover {
    filter: brightness(120%);
  }
}
