.counter {
  background-color: #70c05b;
  border-radius: 5px;
  padding: 6px 12px;
  color: #ffff;
  align-self: center;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;

  &__operation {
    background-color: #70c05b;
    border: 2px solid #70c05b;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__operation:hover {
    opacity: 0.7;
    scale: 1.3;
  }
  &__operation:active {
    opacity: 1;
    scale: 1;
  }
}
