.primary-btn {
  font-size: 14px;
  font-weight: 500;
  color: #ffff;
  padding: 8px 12px;
  border-radius: 4px;
  background: #f63;
  border: 2px solid #f63;
  cursor: pointer;
  transition: all 0.3s ease;
}
