.counter {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
  padding: 6px 12px;

  background-color: #70c05b;
  color: #ffff;

  &__operation {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #70c05b;

    background-color: #70c05b;
    cursor: pointer;
  }
}
@media (max-width: 576px) {
  .counter {
    padding: 3px 9px;
  }
}
