.link-button {
  display: flex;
  gap: 15px;
  align-items: center;
}

@media (max-width: 670px) {
  .link-button {
    &__counter {
      width: 30px;
      height: 30px;
      margin-right: 20px;
    }
    &__btn {
      display: none;
    }
  }
}
