.nav {
  display: flex;
  gap: 20px;
  align-items: center;

  &__items {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  &__icon {
    font-size: 15px;
  }
}
@media (max-width: 700px) {
  .nav {
    display: none;
  }
}
